/* Container and layout */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main.container {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

/* Grid System */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    align-items: stretch;
}

.col {
    flex: 1;
    padding: 0 10px;
    display: flex;
}

.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 10px;
    display: flex;
}

.col-4 .card,
.col .card {
    width: 100%;
    height: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
}

.col-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
    padding: 0 10px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px;
}
